.quizzes-container{
    justify-content: center;
}

.quiz-container, .user-container{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    max-width: 300px;

}

dialog{
    position: relative;
}

.close-dialog-button
{
    position: absolute !important;
    top: 5px;
    right: 5px;
    min-width: 35px !important;
    width: 35px !important;
}

h1{
    text-align: center;
}


th, td{
    text-align: center !important;
}

.mdl-dialog{
    width: 60% !important;
    max-width: 700px !important;
}

.tabs {
    display: flex;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.tab-content:not(#quizzes) {
    display: none;
}