body{
    background: radial-gradient(98.88% 50% at 50.00% 50.00%, #F73A00 0%, #FFF 96.88%);
}

.container{
    background: linear-gradient(180deg, #F73A00 0%, #FFF 50%, #FFF 100%);
    display: none;
}


.wrapper{
    max-width: 700px;
    min-width: 300px;
    border-radius: 10px;
    background: #F6F6F6;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.35);
    margin-bottom: 15rem;
}

@media(max-width: 500px){
    .wrapper{
        padding: 15px !important;
        align-items: center;
    }

    form{
        width: 100%;
    }
}

.controls{
    position: absolute;
    bottom:0;
}