body{
    background: radial-gradient(98.88% 50% at 50.00% 50.00%, #F73A00 0%, #FFF 96.88%);
}

.quiz-begins-soon{
    background: white;
    display: none;
    margin-top: 10rem;
    max-width: 700px;
    min-width: 300px;
    margin-inline: auto;

}

.question-container{
    display: none;
    background: white;
    margin-top: 10rem;
    max-width: 700px;
    min-width: 300px;
    margin-inline: auto;

}