.container{
    background: linear-gradient(180deg, #F73A00 0%, #FFF 50%, #FFF 100%);
}



.wrapper{
    max-width: 500px;
    border-radius: 10px;
    background: #F6F6F6;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.35);
    margin-bottom: 15rem;
}

@media(max-width: 500px){
    .wrapper{
        padding: 15px !important;
        align-items: center;
    }

    form{
        width: 100%;
    }
}



h1{
    margin: 0 !important;
}



