:root{
    --primary-color: #00BCF7;
    --primary-color-super-light: #DEF4FE;
    --primary-text-color: #000000;
    --secondary-color: #FF5600;
    --secondary-text-color: #000000;
    --secondary-color-light: #FF855D;
}





body{
    margin: 0;
}


.container{

}


.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}



.flex-center{
    align-items: center;
    justify-content: center;
}



.w-100{
    width:100% !important;
}

.w-90{
    width: 90% !important;
}

.w-80{
    width: 80% !important;
}


.h-100{
    height: 100dvh;
}


.p-1{
    padding: 1rem;
}

.p-2{
    padding: 2rem;
}

.p-2{
    padding: 2rem;
}

.p-3{
    padding: 3rem;
}

.p-4{
    padding: 4rem;
}

.p-5{
    padding: 5rem;
}



.px-1{
    padding-inline: 1rem;
}

.px-2{
    padding-inline: 2rem;
}

.px-3{
    padding-inline: 3rem;
}

.px-4{
    padding-inline: 4rem;
}

.px-5{
    padding-inline: 5rem;
}



.py-1{
    padding-block: 1rem;
}

.py-2{
    padding-block: 2rem;
}

.py-3{
    padding-block: 3rem;
}

.py-4{
    padding-block: 4rem;
}

.py-5{
    padding-block: 5rem;
}






.m-1{
    margin: 1rem;
}

.m-2{
    margin: 2rem;
}

.m-2{
    margin: 2rem;
}

.m-3{
    margin: 3rem;
}

.m-4{
    margin: 4rem;
}

.m-5{
    margin: 5rem;
}


.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mb-3{
    margin-bottom: 3rem;
}

.mb-4{
    margin-bottom: 4rem;
}


.mb-5{
    margin-bottom: 5rem;
}





.gap-1{
    gap: 1rem;
}

.gap-2{
    gap: 2rem;
}

.gap-3{
    gap: 3rem;
}

.gap-4{
    gap: 4rem;
}

.gap-5{
    gap: 5rem;
}



.fs-heading{
    font-size: 2rem;
}

.fs-normal{
    font-size: 1rem;
}



